<!DOCTYPE html>
<html>
  <head>
    <title>Gastos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="<%= asset_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" /> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    
    
     

    <script>
    window.Gastos = window.Gastos || {};
    var gastosLogo =  "<%= image_url("gastos.png") %>",
        missing =  "<%= image_url("missing.jpg") %>";

    window.Gastos.imageUrls = {
      gastosLogo: gastosLogo,
      missing: missing
    };
  </script>

  </head>

  <body>
      <%= flash[:message].join("<br>") unless flash[:message].nil? %>
    <%= yield %>

  </body>
</html>
